<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script>


    </script>
  </head>

<!-- /* CUSTOMIZE THE CAROUSEL
    */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
 -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://farm8.staticflickr.com/7172/6808891277_bf60b1728e_o.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Planning a Trip?</h1>
              <p class="lead">Are you planning a trip? Using RoadTripEscape to plan your trip will allow you to see some of the natural beauty you may miss.</p>
              <a class="btn btn-large btn-primary" href="/users/sign_up">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://www.gctours.net/product_images/uploaded_images/grand-canyon-hd720.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>National Parks</h1>
              <p class="lead">The United States has some of the most beautiful and unique landscapes throughout the country. You can experience many of them first hand by taking a road trip while escaping the boredom of the driving.</p>
              <a class="btn btn-large btn-primary" href="/parks">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://ih3.redbubble.net/image.4385040.8659/flat,550x550,075,f.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Explore!</h1>
              <p class="lead">Take the challenge and take RoadTripEscape for a drive. You got nothing to loose.</p>
              <a class="btn btn-large btn-primary" href="/map">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQIv_dwWMED42-QBaoUEivaueiAh1hox8eLgI0OaRk06jU_WQHr">
          <h2>Rocky Mountains</h2>
          <p>Rocky Mountain National Park is a national park located in the north-central region of the U.S. state of Colorado. It features majestic mountain views, mountain lakes, a variety of wildlife, varied climates and environments—from wooded forests to mountain tundra—and easy access to back-country trails and campsites. The park is located northwest of Boulder, Colorado, in the Rockies, and includes the Continental Divide and the headwaters of the Colorado River.</p>
          <p><a class="btn" href="/parks">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTlOCV-f9v4izZksdWp-kjVVpyg9tUMno41CDvkMk7N1H3KNAPT">
          <h2>The Badlands</h2>
          <p>Badlands National Park is a national park in southwestern South Dakota that protects 242,756 acres of sharply eroded buttes, pinnacles, and spires blended with the largest undisturbed mixed grass prairie in the United States. The park is managed by the National Park Service.</p>
          <p><a class="btn" href="/parks">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="https://alpineshop.webconnex.com/uploads/wysiwyg/1400/images/Yosemite%202.jpg">
          <h2>Yosemite</h2>
          <p>Yosemite Falls usually stops flowing in late August. The cascade is fed solely by snowmelt, so the peak flow is in late May, when high snows in the Sierra Nevada melt. Over the warm summer months the flow dries up—but returns around October, when snow again begins to fall.</p>
          <p><a class="btn" href="/parks">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->




    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
