

<div class="accordion" id="accordion16">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseOne">
        Acadia National Park
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="info">
        People have been drawn to the rugged coast of Maine throughout history. Awed by its beauty and diversity, early 20th-century visionaries donated the land that became Acadia National Park. The park is home to many plants and animals, and the tallest mountain on the U.S. Atlantic coast. Today visitors come to Acadia to hike granite peaks, bike historic carriage roads, or relax and enjoy the scenery.
      </div>
      <div class="parkpic">
        <img src="http://media-cdn.tripadvisor.com/media/photo-s/01/33/ae/a2/acadia-national-park.jpg" class="img-rounded">
        <img src="http://www.heatingoil.com/wp-content/uploads/2010/03/maine_oillify_20071013.jpg" class="img-rounded">
        <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/333/cache/national-park-acadia-coast_33307_600x450.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseTwo">
        Yellowstone National Park
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
        It's wonderland. Old Faithful and the majority of the world's geysers are preserved here. They are the main reason the park was established in 1872 as America's first national park—an idea that spread worldwide. A mountain wildland, home to grizzly bears, wolves, and herds of bison and elk, the park is the core of one of the last, nearly intact, natural ecosystems in the Earth’s temperate zone.
      </div>
      <div class="parkpic">
        <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/020/cache/yellowstone-fountain-geyser_2018_600x450.jpg" class="img-rounded">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSPkS6OfY37gN2K11C5QQm7XX9w8xpD2ezfn6Rwq28Z0jvzlExT8Q" class="img-rounded">
        <img src="http://www.ngewall.com/images/2013/06/yellowstone-national-park-wallpaper-world-traveling.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseThree">
        Badlands National Park
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          The rugged beauty of the Badlands draws visitors from around the world. These striking geologic deposits contain one of the world’s richest fossil beds. Ancient mammals such as the rhino, horse, and saber-toothed cat once roamed here. The park’s 244,000 acres protect an expanse of mixed-grass prairie where bison, bighorn sheep, prairie dogs, and black-footed ferrets live today.
        </div>
        <div class="parkpic">
          <img src="http://miriadna.com/desctopwalls/images/max/Badlands-National-Park-(South-Dakota).jpg" class="img-rounded">
          <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/037/cache/badlands_3787_600x450.jpg" class="img-rounded">
          <img src="http://www.nps.gov/badl/planyourvisit/images/Wally-Crop.jpg" class="img-rounded">
      </div>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseFour">
        Blue Ridge Parkway
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          A Blue Ridge Parkway experience is unlike any other, a slow-paced and relaxing drive revealing stunning long-range vistas and close-up views of the rugged mountains and pastoral landscapes of the Appalachian Highlands. Protecting a diversity of plants and animals, the Parkway meanders for 469 miles, providing opportunities for enjoying all that makes this region of the country so special.
        </div>
        <div class="parkpic">
          <img src="http://www.learnnc.org/lp/media/uploads/2008/02/wataugacolinncoveviaduct.jpg" class="img-rounded">
          <img src="http://www.trailerlife.com/wp-content/uploads/2012/10/Blue-Ridge-Parkway.jpg" class="img-rounded">
          <img src="http://www.wncdesktopwallpaper.com/gallery/bboundless2.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseFive">
        Cuyahoga Valley National Park
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Though a short distance from the urban areas of Cleveland and Akron, Cuyahoga Valley National Park seems worlds away. The park is a refuge for native plants and wildlife, and provides routes of discovery for visitors. The winding Cuyahoga River gives way to deep forests, rolling hills, and open farmlands. Walk or ride the Towpath Trail to follow the historic route of the Ohio & Erie Canal.
        </div>
        <div class="parkpic">
          <img src="http://www.conservancyforcvnp.org/images/sunrise-indigo-lake.jpg" class="img-rounded">
          <img src="http://0.tqn.com/d/cleveland/1/0/_/3/-/-/brandywinefalls.jpg" class="img-rounded">
          <img src="http://blog.cleveland.com/lifestyles/2008/06/large_cvnp.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseSix">
        Natchez Trace Park
      </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          The Natchez Trace Parkway is a 444-mile drive through exceptional scenery and 10,000 years of North American history.  Used by American Indians, "Kaintucks," settlers, and future presidents, the Old Trace played an important role in American history. Today, visitors can enjoy not only a scenic drive but also hiking, biking, horseback riding, and camping.
        </div>
        <div class="parkpic">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP2RTsykOpvXj4sqc_FAFyMJx1TwBl89QyJcXmx3n2f8xb4nHE9g" class="img-rounded">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI7HTSKmb-9-5_PfG8OQ8vrhm6PAUdekmydGqJK_jPj7JzIFvS" class="img-rounded">
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRga_4ViBC0GZWguA-cHLOZ93oaZ4aw5al0dWEzhDmc9ngLw-xI" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseSeven">
        George Washington Memorial Parkway
      </a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          The George Washington Memorial Parkway was designed for recreational driving. It links sites that commemorate important episodes in American history and preserve habitat for local wildlife. The parkway and its associated trails provide a scenic place to play and rest in the busy Washington, DC metropolitan area.
        </div>
        <div class="parkpic">
          <img src="http://b.vimeocdn.com/ts/124/066/124066657_640.jpg" class="img-rounded">
          <img src="http://www.stevesnotebook.com/wp-content/uploads/2008/08/2006-05-28.jpg" class="img-rounded">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmzNgpuLF1E5E-DnpaDPkai0mHrhnuK5nuL-vIwm33w3BckD1dEg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseEight">
        Golden Gate National Recreation Area
      </a>
    </div>
    <div id="collapseEight" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Golden Gate National Recreation Area (GGNRA) chronicles two hundred years of history, from the Native American culture, the Spanish Empire frontier and the Mexican Republic, to maritime history, the California Gold Rush, the evolution of American coastal fortifications, and the growth of urban San Francisco.
        </div>
        <div class="parkpic">
          <img src="http://www.alcatrazcruises.com/website/images/john-martini-photo/photo-jm-Support-the-Park.jpg" class="img-rounded">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRRT0aA8rA1VPLIC0EuYxAoTBApxXmpZhFqf-FWC_igIaF1e3ZXhA" class="img-rounded">
          <img src="http://www.sfbayaxis.com/images/400_225_Angel_Island_IMG_4852.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseNine">
        Grand Canyon National Park
      </a>
    </div>
    <div id="collapseNine" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Nearly five million people travel here each year; 90 percent first see the canyon from the South Rim with its dramatic views into the deep inner gorge of the Colorado River. So many feet have stepped cautiously to the edge of major overlooks that in places the rock has been polished smooth. But most of the park's 1,904 square miles are maintained as wilderness. You can avoid crowds by hiking the park's many trails or driving to the cool evergreen forests of the North Rim where people are fewer and viewing is more leisurely. The Grand Canyon boasts some of the nation's cleanest air, with visibility on clear days averaging 90 to 110 miles.
        </div>
        <div class="parkpic">
          <img src="http://media-1.web.britannica.com/eb-media/44/91644-004-E89D6DE9.jpg" class="img-rounded">
          <img src="http://o.aolcdn.com/os/mapquest/national-parks/photos/park-pano/grand-canyon-national-park.jpg" class="img-rounded">
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQYRxIsX9tmuIWq83H7YpP8C8TG_umaQeGtW-Q5AI1hPjzFrtJO" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseTen">
        Grand Teton National Park
      </a>
    </div>
    <div id="collapseTen" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Rising above a scene rich with extraordinary wildlife, pristine lakes, and alpine terrain, the Teton Range stands monument to the people who fought to protect it. These are mountains of the imagination. Mountains that led to the creation of Grand Teton National Park where you can explore over two hundred miles of trails, float the Snake River or enjoy the serenity of this remarkable place.
        </div>
        <div class="parkpic">
          <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/515/custom/51548_1600x1200-wallpaper-cb1334757720.jpg" class="img-rounded">
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRxO254opn9jckSpYJYZSSr5WbdKi5d340ijVpOXLuPc8xv1_eaFw" class="img-rounded">
          <img src="http://cdn.jacksonholewy.net/images/content/433_1330_Grand_Teton_NP_Mountain_Range_md.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseEleven">
        Lake Mead National Recreation Area
      </a>
    </div>
    <div id="collapseEleven" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Lake Mead NRA offers year-round recreational opportunities for boating, fishing, hiking, photography, picnicking and sightseeing. It is also home to thousands of desert plants and animals, adapted to survive where rain is scarce and temperatures can soar.
        </div>
        <div class="parkpic">
          <img src="http://intothewild1021.wikispaces.com/file/view/lake-mead.jpg/119931539/513x344/lake-mead.jpg" class="img-rounded">
          <img src="http://farm3.static.flickr.com/2409/1767581575_a7c6d64512.jpg" class="img-rounded">
          <img src="http://media.lasvegassun.com/media/img/photos/2008/04/21/scaled.water4_lakemead_t652.jpg?1b9ad394c43bb038fa9e51a462e45d6568471167" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseTweleve">
        Olympic National Park
      </a>
    </div>
    <div id="collapseTweleve" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Olympic National Park is a land of beauty and variety.  A day's exploration can take you from breathtaking mountain vistas with meadows of wildflowers to colorful ocean tidepools.  Nestled in the valleys are some of the largest remnants of ancient forests left in the country.  Olympic is like three magical parks in one.  Take some time to explore its many faces!
        </div>
        <div class="parkpic">
          <img src="http://ocdeals.ocregister.com/files/2012/05/olympic_national_park_washington.jpg" class="img-rounded">
          <img src="http://media-cdn.tripadvisor.com/media/photo-s/01/0a/1a/59/olympic-national-park.jpg" class="img-rounded">
          <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/536/overrides/hikers-hoh-rain-forest-olympic-national-park_53694_600x450.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseThirteen">
        Rocky Mountain National Park
      </a>
    </div>
    <div id="collapseThirteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Rocky Mountain National Park’s 415 square miles encompass and protect spectacular mountain environments. Enjoy Trail Ridge Road – which crests over 12,000 feet including many overlooks to experience the subalpine and alpine worlds – along with over 300 miles of hiking trails, wildflowers, wildlife, starry nights, and fun times. In a world of superlatives, Rocky is on top!
        </div>
        <div class="parkpic">
          <img src="http://media.lonelyplanet.com/lpi/14477/14477-6/681x454.jpg" class="img-rounded">
          <img src="http://blog.roadtrippers.com/wp-content/uploads/2013/05/Rocky-Mountain-National-Park-Colorado-United-States..jpg" class="img-rounded">
          <img src="http://www.stanleyhotel.com/uploads/content-photos/Elk-in-Rocky-Mountain-National-Park.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseFourteen">
        Great Smoky Mountains National Park
      </a>
    </div>
    <div id="collapseFourteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Ridge upon ridge of forest straddles the border between North Carolina and Tennessee in Great Smoky Mountains National Park. World renowned for its diversity of plant and animal life, the beauty of its ancient mountains, and the quality of its remnants of Southern Appalachian mountain culture, this is America's most visited national park.
        </div>
        <div class="parkpic">
          <img src="http://www.fuelfriendsblog.com/wp-content/uploads/2009/12/great-smoky-mountains-national-park-in-tennessee-and-north-carolina.jpg" class="img-rounded">
          <img src="http://www.abovebeyondcabin.com/314902c0.jpg" class="img-rounded">
          <img src="http://wallpapers5.com/images/wallpapers/34934739/Landscape/Nature/John-Cable-Mill-Cades-Cove-Great-Smoky-Mountains-National-Park-Tennessee.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseFifteen">
        Yosemite National Park
      </a>
    </div>
    <div id="collapseFifteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          <p>Not just a great valley, but a shrine to human foresight, the strength of granite, the power of glaciers, the persistence of life, and the tranquility of the High Sierra.<p>

          <p>First protected in 1864, Yosemite National Park is best known for its waterfalls, but within its nearly 1,200 square miles, you can find deep valleys, grand meadows, ancient giant sequoias, a vast wilderness area, and much more.<p>
        </div>
        <div class="parkpic">
          <img src="http://travelwithscott.files.wordpress.com/2012/05/yosemite-national-park.jpg" class="img-rounded">
          <img src="http://www.idwallpapers.com/wp-content/uploads/2013/06/National-Parks-112.jpg" class="img-rounded">
          <img src="http://upload.wikimedia.org/wikipedia/commons/7/7d/Vernal_Falls._Yosemite_National_Park,_California.jpg" class="img-rounded">
      </div>
      </div>
    </div>
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion16" href="#collapseSixteen">
        Zion National Park
      </a>
    </div>
    <div id="collapseSixteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="info">
          Follow the paths where ancient native people and pioneers walked. Gaze up at massive sandstone cliffs of cream, pink, and red that soar into a brilliant blue sky. Challenge your courage in a narrow slot canyon. Zion’s unique array of plants and animals will enchant you as you absorb the rich history of the past and enjoy the excitement of present day adventures.
        </div>
        <div class="parkpic">
          <img src="http://www.rockymountainmagazine.com/wp-content/uploads/2011/04/Arches-National-Park.jpg" class="img-rounded">
          <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/020/cache/05-84504541-zion_2056_600x450.jpg" class="img-rounded">
          <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/506/overrides/zion-national-park-canyon_50628_990x742.jpg" class="img-rounded">
      </div>
      </div>
    </div>
  </div>
</div>